{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rizto</title>
</head>
<body">
    
    {% include "navbar.html" %}

    {% block home-view %}
    {% endblock home-view %}

    {% block products-view %}
    {% endblock products-view %}

    {% block product-detail-view %}
    {% endblock product-detail-view %}

    {% include "footer.html" %}

    <script src="{% static 'js/scripts.js' %}"></script>
    
</body>
</html>
