
<section>
    <h3>Preguntas frecuentes</h3>
    <div class="faq">
        <div class="card">
            <h4>
                ¿Por qué elegir a Rizto?
            </h4>
            <p>
                Porque brindamos un servicio de primer nivel a un bajo costo.
                Hacete cliente hoy mismo y dejá de pagar tus productos tecnológicos de más.
            </p>
        </div>
        <div class="card">
            <h4>
                ¿Cómo hago una compra?
            </h4>
            <p>
                Envianos un mensaje por Whatsapp, Instagram o Facebook 
                para que podamos asesorarte y coordinar la entrega de tu producto.
            </p>
        </div>
    </div>
</section>
