{% load static %}

<footer>
    <a href="/">
        <img class="logo" src="{% static '/images/rizto-logo-positive.png' %}" alt="rizto logo" class="logo">
    </a>
    <div class="social-media-icons">
        <a class="icon" href="#"><img src="{% static 'images/whatsapp-logo.svg' %}" alt="whatsapp logo" class="social-icon"></a>
        <a class="icon" href="#"><img src="{% static 'images/facebook-logo.svg' %}" alt="facebook logo" class="social-icon"></a>
        <a class="icon" href="#"><img src="{% static 'images/instagram-logo.svg' %}" alt="instagram logo" class="social-icon"></a>
    </div>
</footer>
